.form{
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%;
}

.textInput, .textArea{
  outline: 2px solid black;
  width: 100%;
  border-radius: 8px;
  min-height: 16px;
  padding:4px;
}

.section{
  gap:16px;
  width: 100%;
}
.textArea{
  height: 402px;
}

.header{
  width: 100%;
  display: flex;
  justify-content: center;
}

.backBtn,.nothing{
  height: 56px;
  width: 56px;
  border-radius: 4px;
}

.heading{
  height:100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px;
}

.backBtn:hover{
  background-color:  #fff2d1;
}